---
const today = new Date();
---

<footer>
		<!-- CoinGecko Widget -->
		<div style="margin-top: 2em;">
			<gecko-coin-price-marquee-widget 
				locale="en" 
				transparent-background="true"
				coin-ids="bitcoin,ethereum,ripple,binancecoin,dogecoin,cardano,tron"
				initial-currency="usd">
			</gecko-coin-price-marquee-widget>
		</div>

	&copy; {today.getFullYear()} lenikrypto. All rights reserved.

	<div class="social-icons" style="display: flex; gap: 1rem;">
		<a href="https://x.com/lenikrypto" aria-label="x">
		  <img src="/icons/x.png" alt="x" width="24" height="24" />
		</a>
		<a href="https://instagram.com/lenikrypto" aria-label="Instagram">
		  <img src="/icons/instagram.png" alt="Instagram" width="24" height="24" />
		</a>
		<a href="https://tiktok.com/@lenikrypto" aria-label="TikTok">
		  <img src="/icons/tiktok.png" alt="TikTok" width="24" height="24" />
		</a>
	</div>

</footer>

<script is:inline>
	if (!window.customElements.get('gecko-coin-price-marquee-widget')) {
	  const script = document.createElement('script');
	  script.src = "https://widgets.coingecko.com/gecko-coin-price-marquee-widget.js";
	  document.body.appendChild(script);
	}
  </script>
  

<style>
	footer {
		padding: 2em 1em 2em 1em;
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		color: rgb(var(--gray));
		text-align: center;
	}
	.social-icons {
		display: flex;
		justify-content: center;
		gap: 1em;
		margin-top: 1em;
	}
	.social-icons a {
		text-decoration: none;
		color: rgb(var(--gray));
	}
	.social-icons a:hover {
		color: rgb(var(--gray-dark));
	}
</style>
