---
const today = new Date();
---

<footer>
	&copy; {today.getFullYear()} LeniKrypto. All rights reserved.
	<div class="social-icons" style="display: flex; gap: 1rem;">
		<a href="https://x.com/lenikrypto" aria-label="x">
		  <img src="/src/icons/x.png" alt="x" width="24" height="24" />
		</a>
		<a href="https://instagram.com/lenikrypto" aria-label="Instagram">
		  <img src="/src/icons/instagram.png" alt="Instagram" width="24" height="24" />
		</a>
		<a href="https://tiktok.com/@lenikrypto" aria-label="TikTok">
		  <img src="/src/icons/tiktok.png" alt="TikTok" width="24" height="24" />
		</a>
	  </div>
</footer>
<style>
	footer {
		padding: 2em 1em 6em 1em;
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		color: rgb(var(--gray));
		text-align: center;
	}
	.social-icons {
		display: flex;
		justify-content: center;
		gap: 1em;
		margin-top: 1em;
	}
	.social-icons a {
		text-decoration: none;
		color: rgb(var(--gray));
	}
	.social-icons a:hover {
		color: rgb(var(--gray-dark));
	}
</style>
