---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header>
	<nav>
		<div class="logo">
			<a href="/" aria-label="LeniKrypto">
			  <img src="/logo-lk.png" alt="LeniKrypto logo" class="logo-img" />
			</a>
		  </div>   
  		<div class="internal-links">
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/blog">Blog</HeaderLink>
			<HeaderLink href="/about">About</HeaderLink>
		</div>
		<div class="social-icons" style="display: flex; gap: 1rem;">
			<a href="https://twitter.com/lenikrypto" aria-label="Twitter">
			  <img src="/src/icons/x.png" alt="Twitter" width="24" height="24" />
			</a>
			<a href="https://instagram.com/lenikrypto" aria-label="Instagram">
			  <img src="/src/icons/instagram.png" alt="Instagram" width="24" height="24" />
			</a>
			<a href="https://tiktok.com/@lenikrypto" aria-label="TikTok">
			  <img src="/src/icons/tiktok.png" alt="TikTok" width="24" height="24" />
			</a>
		  </div>
	</nav>
</header>
<style>
	header {
		margin: 0;
		padding: 0 1em;
		background: white;
		box-shadow: 0 2px 8px rgba(var(--black), 5%);
	}
	h2 {
		margin: 0;
		font-size: 1em;
	}

	h2 a,
	h2 a.active {
		text-decoration: none;
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	nav a {
	padding: 1em 0.5em;
	color: var(--accent-color);
	border-bottom: 4px solid transparent;
	text-decoration: none;
	font-weight: 600;
	transition: transform 0.2s ease-in-out;
}
nav a:hover {
	transform: scale(1.1);
}
	nav a.active {
		text-decoration: none;
		border-bottom-color: var(--accent);
	}
	.social-icons,
	.social-icons a {
		display: flex;
	}
	@media (max-width: 720px) {
		.social-icons {
			display: none;
		}
	}
</style>
